<h1>Conversations</h1>
<h3>News, Politics, Businesses, Meetups talks</h3>

<% @conversations.each do |conversation| %>
  <p>
    <%= link_to conversation.title, conversation_path(conversation) %>
  </p>
<% end %>
