<section class="jumbotron text-center">
  <div class="container">
    <!-- TODO: Check for dashboard privacy setting to decide whether to show name -->
    <h1 class="jumbotron-heading"><%= @user.name %>'s Dashboard</h1>
    <p class="lead text-muted"></p>
    <% if @user == @dashboard.user %>
      <p>
        <a href="#" class="btn btn-outline-primary btn-sm">Manage Your Dashboard</a>
      </p>
    <% end %>
  </div>
</section>
