/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 */

  @import "bootstrap";
  @import "font-awesome";


div.art-wrapper {
  position: absolute;
  top: 100px;
  left: 30%;
  background: #fff;
  max-height: 70vw;
  max-width: 70vw;
  border: 3px solid #000;
  border-radius: 8px;
  animation-name: dropIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  box-shadow: 10px 10px 5px #888888;
  padding: 15px;
}


@keyframes dropIn {
  0% {transform: translateY(-100%)}
  100% {transform: translateY(0)}
}

.row.dashboard-box {
    display: flex;
    flex-wrap: wrap;
}
.row.dashboard-box > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.nyt-dashboard-img {
  max-width: 210px;
}

// .dashboard-sub-box {
//   border: 1px solid red;
// }
//
// .row {
//   border: 1px solid #000;
// }

// Nav

.shameless-plug {
  color: #60ff7b;
}

// Footer
.social-links li {
  display: inline-block;
  font-size: 2.5em;
  margin-left: 20px;
  margin-right: 20px;
}
