<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>

    <p>News Content Courtesy of <b>The New York Times</b> and <b>The Guardian</b>.</p>

    <p>Political Content Courtesy of <b>Propublica</b>. Business Search Courtesy of <b>Yelp</b>.</p>

    <p>
      <ol class="list-unstyled social-links">
        <li><a href="https://github.com/JPCodes"><%= fa_icon "github" %></a></li>
        <li><a href="https://twitter.com/jp_codes"><%= fa_icon "twitter" %></a></li>
        <li><a href="https://www.linkedin.com/in/jpcodes/"><%= fa_icon "linkedin-square" %></a></li>
      </ol>
    </p>
  </div>
</footer>
